<ion-header>
  <ion-toolbar color="dark">
    <div>
      <img style="max-width: 100% !important;border: 0 !important;margin-top: 5px !important;margin-left: 10px"
        src="assets/img/logo02.png" width="20%">
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="openFirst()" color="light">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh" slot="fixed" refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div padding *ngIf="cero_datos">
    <img src="assets/img/warning.png" style="width: 30% !important;display:block;margin:auto">
    <h1 text-center>Sin notificaciones</h1>
  </div>

  <div *ngIf="con_datos">
    <ion-card (click)="detalle_servicio(servicio._id)" class="ion-activatable" *ngFor="let servicio of servicios" no-padding style="padding-left: 5px">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-grid style="height: 100%">
        <ion-row style="height: 100%; flex-direction: row">
          <ion-col style="height: 100%;" size="6" align-self-center>
            <div style="font-size: 20px;color: black"><b>{{ servicio.code}}</b></div>
          </ion-col>
        </ion-row>
        <ion-row style="height: 100%; flex-direction: row">
          <ion-col size="12">
            <div><b style="color: black">Fecha maxima de entrega</b></div>
            <div>{{ devolver_fecha(servicio.order.deliveryMaxDate) }}</div>
          </ion-col>
          <ion-col size="12">
            <div><b style="color: black">Punto de inicio</b></div>
            <div>{{ servicio.order.initPlace }}</div>
          </ion-col>
          <ion-col size="12">
            <div><b style="color: black">Punto de llegada</b></div>
            <div>{{ servicio.order.endPlace }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div *ngIf="sin_datos">
    <ion-card class="skeleton" style="padding: 15px">
      <ion-grid style="height: 100%">
        <ion-row>
          <ion-col>
            <ion-card-title></ion-card-title>
          </ion-col>
          <ion-col style="display: flex;justify-content: flex-end;align-items: center;">
            <ion-card-subtitle></ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="skeleton" style="padding: 15px">
      <ion-grid style="height: 100%">
        <ion-row>
          <ion-col>
            <ion-card-title></ion-card-title>
          </ion-col>
          <ion-col style="display: flex;justify-content: flex-end;align-items: center;">
            <ion-card-subtitle></ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="skeleton" style="padding: 15px">
      <ion-grid style="height: 100%">
        <ion-row>
          <ion-col>
            <ion-card-title></ion-card-title>
          </ion-col>
          <ion-col style="display: flex;justify-content: flex-end;align-items: center;">
            <ion-card-subtitle></ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <ion-infinite-scroll threshold="160px" (ionInfinite)="siguiente($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando pedidos..">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>