<ion-header>
    <ion-toolbar color="dark">
      <div>
        <img style="max-width: 100% !important;border: 0 !important;margin-top: 5px !important;margin-left: 10px"
          src="assets/img/logo02.png" width="20%">
      </div>
      <ion-buttons slot="end">
        <ion-button (click)="openFirst()" color="light">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div padding *ngIf="cero_datos">
        <img src="assets/img/warning.png" style="width: 30% !important;display:block;margin:auto">
        <h1 text-center>Sin notificaciones</h1>
      </div>
    
    <div *ngIf="con_datos">
      <ion-card class="ion-activatable" no-padding *ngFor="let notificacion of notificaciones"
        [ngClass]="{ 'custom-class-name': notificacion.status === 0 }"
        (click)="abrir_modal(notificacion)">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-grid fixed>
          <ion-row style="display: flex;justify-content: center;align-items: center;">
            <ion-col size="2">
              <img src="assets/img/pedidos.png" style="width: 19px;display:block;margin:auto;">
            </ion-col>
            <ion-col size="10">
              <p>{{ notificacion.message }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  
    <div *ngIf="sin_datos">
      <ion-card class="skeleton" style="padding: 15px">
        <ion-grid style="height: 100%">
          <ion-row>
            <ion-col>
              <ion-card-title></ion-card-title>
            </ion-col>
            <ion-col style="display: flex;justify-content: flex-end;align-items: center;">
              <ion-card-subtitle></ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
  
      <ion-card class="skeleton" style="padding: 15px">
        <ion-grid style="height: 100%">
          <ion-row>
            <ion-col>
              <ion-card-title></ion-card-title>
            </ion-col>
            <ion-col style="display: flex;justify-content: flex-end;align-items: center;">
              <ion-card-subtitle></ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
  
      <ion-card class="skeleton" style="padding: 15px">
        <ion-grid style="height: 100%">
          <ion-row>
            <ion-col>
              <ion-card-title></ion-card-title>
            </ion-col>
            <ion-col style="display: flex;justify-content: flex-end;align-items: center;">
              <ion-card-subtitle></ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
  
      <ion-card class="skeleton" style="padding: 15px">
        <ion-grid style="height: 100%">
          <ion-row>
            <ion-col>
              <ion-card-title></ion-card-title>
            </ion-col>
            <ion-col style="display: flex;justify-content: flex-end;align-items: center;">
              <ion-card-subtitle></ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <ion-infinite-scroll threshold="160px" (ionInfinite)="siguiente($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando notificaciones..">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </ion-content>
