ion-content {
    --ion-background-color: #ececec;
    ion-item {
      --highlight-color-valid: transparent;
      --highlight-color-invalid: transparent;
      --highlight-color-focused: transparent;
      --border-color: transparent;
    }
    ion-input {
      --background: white;
      padding: 5px !important;
      margin-top: 10px !important;
      border: 2px solid #30205d !important;
    }
    ion-button {
      --border-radius: none !important;
      height: 40px;
    }
    ion-card {
      --background: white;
      border-left: 5px solid black !important;
    }
  }
  
  .custom-class-name {
    background-color: #edf2fa !important;
  }
  
  ion-fab-button {
    --background: #30205d !important;
  }
  
  .skeleton {
    animation: loading 1.7s infinite linear;
    background: #e6e6e6;
    background-image: -webkit-linear-gradient(
      to right,
      #e6e6e6 0%,
      #ffffff 20%,
      #e6e6e6 40%,
      #e6e6e6 100%
    );
    background-image: linear-gradient(
      to right,
      #e6e6e6 0%,
      #ffffff 20%,
      #e6e6e6 40%,
      #e6e6e6 100%
    );
    background-repeat: no-repeat;
    height: 80px;
  }
  
  @keyframes loading {
    0% {
      background-position: -100px;
    }
  
    100% {
      background-position: 200px;
    }
  }
  