.container {
  margin: 0px;
  background: #000000;
  width: calc(100%);
  height: calc(100vh);
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
}

.container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.element {
  display: inline-block;
  max-width: 300px;
  vertical-align: middle;
  white-space: normal;
}

.spinner {
  // margin: 100px auto 0;
  // width: 70px;
  // text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: rgb(255, 255, 255);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
